
<main>
    <section class="home" id="home">
        <div class="home-left">
          <p class="section-subtitle">Get your international currencies rates</p>
          <h1 class="main-heading">
            Angular-Currency converter App

          </h1>
  
          <p class="section-text">
            The Angular Currency Converter App simplifies currency conversion effortlessly. Input your desired currency value, select both the source and target currencies from user-friendly dropdown menus, and instantly obtain accurate conversion results. With real-time exchange rates and intuitive design, managing international currencies has never been more accessible. Experience seamless financial transactions and stay updated with the latest currency values effortlessly.
          </p>
          <div class="home-btn-group">
            <button class="btn btn-primary" >
              <p class="btn-text">contact us</p>
              
            </button>
          </div>
        </div>
        <div   class="home-right">
            <app-converter-form></app-converter-form>

            <app-result></app-result></div> 
      
    </section>
  </main>


